/**
 TODO(you): Write the CSS necessary to complete HW1!
*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(../images/header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title {
    width: 780px;
    font-family: "Roboto Slab", serif;
    font-size: 36px;
    font-weight: normal;
    color: white;
    text-align: center;
}

#profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
  
#profile-picture {
    background-image: url("../images/vrk.png");
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    border: 1px solid white;
}
  
#profile-text {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    color: rgb(51, 51, 51);
    line-height: 24px;
    padding-bottom: 10px;
    border-bottom: 2px solid #e6e6e6;
    text-align: center;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main-content {
    width: 66.67%;
    position: relative;
}

.item {
    padding: 60px 0px;
}

.item-number {
    font-family: "Roboto Slab", serif;
    font-size: 36px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.25);
    position: absolute;
    right: 40px;
}

.number-container {
    position: absolute;
    right: 100%;
}
  
.item-header {
    font-family: "Roboto Slab", serif;
    font-size: 36px;
    font-weight: bold;
    color: rgb(51, 51, 51);
}

a {
    color: #42b4d6;
    text-decoration: none;
    font-weight: normal;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
}
  
a:hover {
    text-decoration: underline;
}
  
.space {
    height: 20px;
}

.item-text {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: rgb(51, 51, 51);
    margin: 0px;
}

img {
    width: 100%;
}